#block-location{
  @include background-img('../images/berkeley.jpg', cover);
  color: $white;

  > div {
    position: relative;
    min-height: 600px;
    padding-top: 100px;
  }

  p{
    font-size: 2em;
    line-height: 1.5;
    margin: 0;
    &.address{
      font-weight: 700;
      margin-top: 50px;
    }
  }

  .circuslady{
    @include background-img('../images/circuslady.png', contain);
    width: 460px;
    height: 600px;

    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .action-button {
    margin-top: 50px;
    font-size: 2rem;
    border-radius: 42px;
  }
}
