footer{
  color: $white;

  .footer-columns {
    padding: 100px 0 50px 0;
    a{
      color: $white;
      text-decoration: underline;
    }
  }

  @include breakpoint(small only) {
    .footer-left {
      text-align: center;
      margin-bottom: 1em;
    }
  }


  #block-socialmedialinks{
    @include breakpoint(small) {
      width: 95%;
      margin: 0px auto;
    }

    .social-media-links--platforms{

      justify-content: space-between;
      -webkit-justify-content: space-between;

      @include breakpoint(medium up) {
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
      }

      > span {
        background: $reddish;
        padding: 1em;
        border-radius: 50px;
        width: 65px;
        margin-bottom: 1rem;

        @include breakpoint(medium up) {
          margin-left: 2rem;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}