.form-item {
  margin-bottom: 3em;
  label {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .field--widget-boolean-checkbox &,
  .form-checkboxes & {
    margin-bottom: 1em;
  }
}

.form-required{
  &:after {
    content: " *";
    color: red;
    font-weight: 700;
    font-size: 1.25em;
  }
}