header{
  @include background-img('../images/badcamp2018-bridge.jpg', cover, top center);
  min-height: 900px;
  @include breakpoint(small){
    min-height: 0px;
    @include background-img('../images/badcamp2018-bridge.jpg', conta, top center);

  }
}

.page-header{
  position: relative;
}