header{
  @include background-img('../images/badcamp2018-bridge.jpg', cover, top center);
  min-height: 900px;
  @include breakpoint(small){
    min-height: 0px;
    @include background-img('../images/badcamp2018-bridge.jpg', conta, top center);
  }

  a{
    color: $white;
    &:hover,
    &:active,
    &.active{
      color: $white;
    }
  }

  .page-title-holder{
    min-height: 300px;
  }

  .page-title{
    font-family: $body-font-family;
    color: $white;
  }
}

.page-header{
  position: relative;
}