.password-strength{
  .is-weak{
    background: red;
  }
  .is-fair {
    background: yellow;
  }
  .is-good {
    background: yellowgreen;
  }
  .is-strong {
    background: green;
  }

  .password-strength__title{
    .password-strength__text{
      font-weight: 700;
    }
  }
}

.password-confirm{
  .ok {
    color: green;
  }
  .error {
    color: red;
  }
}