.schedule {
  //div[data-drupal-selector="edit-session-track"] {
  //  margin: 1rem 0;
  //  text-align: center;
  //  input[type="checkbox"] {
  //    -webkit-appearance: none;
  //    -moz-appearance: none;
  //    -ms-progress-appearance: none;
  //    display: none;
  //  }
  //
  //  label {
  //    @extend .category-icon;
  //    > i {
  //      background-color: lightgrey;
  //    }
  //  }
  //
  //  input[type="checkbox"]:checked + label {
  //    > i {
  //      background-color: orange;
  //    }
  //  }
  //
  //  .form-item {
  //    margin-bottom: .5rem;
  //  }
  //}

  div[data-drupal-selector="edit-day"],
  div[id^="edit-day"],
  div#edit-day,
  div#edit-date,
  div[data-drupal-selector="edit-type"],
  div[id^="edit-type"],
  div#edit-type,
  div[data-drupal-selector="edit-session-track"],
  div#edit-session-track,
  div[id^="edit-session-track"]{

    > .fieldset-wrapper {
      text-align: center;
    }
    input[type="radio"],
    input[type="checkbox"]{
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-progress-appearance: none;
      display: none;
    }

    .checkmark-container{
      display: inline-block;
      margin-bottom: 0;
      padding-left: 0;
      .checkmark {
        display: none;
      }
    }

    div.form-item,
    div.form-checkboxes,
    div.form-radios{
      display: inline-block;

      input[type="radio"] + label,
      input[type="checkbox"] + label{
        background-color: $navy-two;
        color: white;
        font-weight: 700;
        font-size: 1.25rem;
        text-align: center;
        margin: 0px;
        padding: .5rem 1rem;
        min-width: 100px;
        margin-bottom: 1rem;
      }

      input[type="radio"]:checked + label,
      input[type="checkbox"]:checked + label{
          background-color: $camel;
      }
    }
  }

  .schedule-results .views-row{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgrey;
    &:last-child{
      border-bottom: 0px solid;
    }
  }

  h3.title {
    line-height: 1.25;
  }

  .info > div {
    margin: 1.5rem;
  }

  .view-grouping{

  }

  .views-row {
    padding: 1rem;
    &:hover{
      background-color: $light-gray;
    }
  }

  .timeslot {
    padding: 1rem 0;
    border-bottom: 5px solid $reddish;
    &:last-child{
      border-bottom: 0px solid;
    }
  }
}

.schedule-item{
  h3.title{
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  .info > div {
    margin-bottom: 1rem;
  }

  .badge{
    float: right;
  }
}