.page-node-type-training #block-badcamp-2018-content,
#block-badcamp-2018-content .trainings .views-row{
  div.category-icon {
    margin: 1.5rem 0;
  }

  .field-item{
    margin: 2rem 0;
    .field-label{
      margin-bottom: 1em;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: $rye;
    }
  }
}